<configuration>
<system.webServer>
      <httpProtocol>
            <customHeaders>
                  <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
      </httpProtocol>
<staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/manifest+json"/>
      <mimeMap fileExtension=".webapp" mimeType="application/manifest+json"/>
</staticContent>
</system.webServer>
</configuration>
